03-customer-support-system/CUSTOMER_SUPPORT_SYSTEM.json
{
  "name": "CUSTOMER SUPPORT SYSTEM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        -64
      ],
      "id": "847376ce-6d77-4c99-ba81-9af06ecaa33c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "FqyKgHRMTQnlHMuW",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "an email that is related to helping out a customer.they may be asking question about our policies or questions about products and services"
            },
            {
              "category": "other",
              "description": "an emain that is not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -96,
        -64
      ],
      "id": "2fe93260-85e8-4834-8a05-e1e63d8aca96",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        144
      ],
      "id": "35181fec-209f-4376-ac61-9eed21261247",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SrXbUiHCJAjADazF",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32,
        96
      ],
      "id": "7381eb97-a056-420f-95dc-264325715245",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#overview\nyou are a customer support agent for tech haven.your job is respond to incoming emails with relevant information using your knowledge tool\n\n##Instructions\n-you output should be friendly and use emojis\n-signing off with mr.tech\n\n##output\n-output only the body content of the email "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        -112
      ],
      "id": "6ff6bc4f-d905-4cc3-b409-d606e3f4fe87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        96
      ],
      "id": "31eea400-2b81-46cb-a85d-d4c9298f7198",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SrXbUiHCJAjADazF",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to acess the faq",
        "pineconeIndex": {
          "__rl": true,
          "value": "dummy",
          "mode": "list",
          "cachedResultName": "dummy"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        112
      ],
      "id": "29dffa32-82fd-4a20-9ec5-fd4b523ee06a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ILid9mp9f2hrZD4y",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        272
      ],
      "id": "366100c7-38f9-4210-986e-52a17b84db56",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WlY6xH5AvayymJ8p",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "={{ $('Gmail Trigger').item.json.headers.subject }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -112
      ],
      "id": "c7236f38-1169-45bb-820c-3b83c01e64f3",
      "name": "Send a message",
      "webhookId": "32ebc692-50c2-4bf7-bad2-e85397960fea",
      "credentials": {
        "gmailOAuth2": {
          "id": "FqyKgHRMTQnlHMuW",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19e6255fbb1d7d7c",
          "threadId": "19e6255fbb1d7d7c",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 8077,
          "headers": {
            "delivered-to": "Delivered-To: tadakaudaysimhadri@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 38308e7fff4ca-3961d826a93sor1701341fa.7.2026.05.25.20.31.02\r\n        for <tadakaudaysimhadri@gmail.com>\r\n        (Google Transport Security);\r\n        Mon, 25 May 2026 20:31:02 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a2e:ab1b:0:b0:393:ca4d:2313 with SMTP id\r\n 38308e7fff4ca-395d8ba6ebemr63012121fa.5.1779766261720; Mon, 25 May 2026\r\n 20:31:01 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1779766262; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=UXKhSfISTHH+svaII+4YeGYef6lSz3qHOLhLqN+5PYnsyfu6uAKVuAW2LSj32wobXx\r\n         o19HCbwbF0dpISkL33kZa6l6pCuygNuPKQBLFdSdVzt1pOrbD4Gr2UtMIqBpQPKg8CfL\r\n         GCWSzt2R2FMGgoCCzoIEeLacCifug9jGiPfSuJVltGGxUuvXvh1jlRDrWAlr8xenhoQD\r\n         jouJ90J/1EfHpo9OmheBxZt6nXNyFtOfOhd55NRspQHnh3PcjEB2aWvndHw8FnYt18gr\r\n         QzahN70js1YJ28+Fa8dQocXlPfZQvlsqJwQYLLu1aadlGQp+1NY5IiRkRdyXl8O3ytLc\r\n         HwqA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=+dImJau1lBA8dxY81E/cATonb/eKdFO6uROVUDldGfE=;\r\n        fh=jFgQZyLQjcLfyXzueFNkTgDPnjRWobwgQ/uLTgtNKDI=;\r\n        b=T3bpmPsQCxag7zVJwlltg+BDJxvYHyrxikTOZgsK7ULqyMTkvdPQlzbozrFiHbBs3Q\r\n         r0vddm2TadY8KLY0bdfrlgCPG6goGbBP+Jw8kSduvgZIptPwxhfwPSySqDPHnq50uMZl\r\n         BIAPMuvdl+I/JQx25WTQiw9sDg7ia01tLOFQ4WApddBF3nkmtbY3TVjjkx2QmFw3BZbY\r\n         SJmqlPSvvco7+TgefFEn8wp1hvZyVfwKQ0DGg3sEM5BeiDUvek+0d4p/m/uCObNEl296\r\n         dOnxV6BptpW0dtBFKd6TC3OmxRFz8tLuqXMdz/rQrDZ97B8uy3VhQQp10SlW59RQ/Kdk\r\n         5agw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com; arc=none",
            "return-path": "Return-Path: <udaysimhadritadaka@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of udaysimhadritadaka@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20251104 header.b=lffafDXx;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of udaysimhadritadaka@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=udaysimhadritadaka@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20251104; t=1779766262; x=1780371062; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=+dImJau1lBA8dxY81E/cATonb/eKdFO6uROVUDldGfE=;\r\n        b=lffafDXxA9ha65m3tzynE8gzyAqEJ9+bOw7sVtLmYNS7kfSTg1U6jSWscJpMqv8/zX\r\n         NSUOzUVV7hBGheWO9zCmeOZXV9byNY9CJf/QH5s+KptCmXWfpQ+0NsY5ynb3fFcvVb7+\r\n         Z2PbNcq7nQi4YKX7SWpSAZRP76sJ1IZzEokX0TwL5Vqi47+brYJPrqRXutqHS77BEbm9\r\n         yLgalGHr1KDsta1JyRbat1q4QIf2bjqcoTm8dsmRzHOAocRw6msfr0tqzUcsh5fSoNCc\r\n         MaWpF+7R1eLK0reoeITpQzZr5FWNJR3aqewGbDDxgvri4oM08d2VTubp7BYSpCLTaZYw\r\n         a7dg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20251104; t=1779766262; x=1780371062;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=+dImJau1lBA8dxY81E/cATonb/eKdFO6uROVUDldGfE=;\r\n        b=QamXn1ps8K6243monlSO5lLeJVdA8usgdPuEvxzXaSnPEGzu3sl6HGQ8Js2IupQrkJ\r\n         EpoS9GcNYbaB1pNL2o2MvIkoGFbE+Mta3vubtCbq5QckGZaTYEnnAU5d1ixbCEPRfiqF\r\n         oTuhkXWrHeSIHGwCnLErrbR2UFHeVTYKdp2qGhRlnhbS1sBWi/fpXEm1aOFZ3XMiVov0\r\n         qYVXjLbwx6BF5hCOrz+a14zelB+VYivJjWdIU+tOlwZYR/h/xSqM2cV58G7xB4karZIs\r\n         OMWltyPcB5rGQqOFZZM2nt5ebn0VSZU0FKS99jVWlI74qR669/lRbxRXB5Enu46yCN/e\r\n         Msig==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YwIMtK6TXN6XAwKeXQ9/4Boy8SBQ8te/Vhxu8Oqd0xsIeZEzjpZ\r\n\tsKV9WBDULwP9SylYdA51HIC5MMTC5QNuS7VY2fifYeHt1WMJOFwRnIlYeJzvxbDQ9ucisOaZKBP\r\n\taeVOtTjvl81rZf7g593BTJHj2BMAHGpMFLg==",
            "x-gm-gg": "X-Gm-Gg: Acq92OEkyoX7qCICHFB5MBvrLI3gHD7SkQz+pEQiU7McB77aVMHAgl0xBjIYDA2n3xS\r\n\txbIi9nhaylGRR21GjtA7cebFAl1lVo+gL5IfRuCs+I8S2rP5wCeVYoT33fXGh52v46cEGyJCMDA\r\n\tRe1zjFU78ffs9B3cv5CHVPAV8DGMlu8n3N8ncQQFLrj/t6+o0mOG5dMa6S5qyE/UdQM50L+KQiw\r\n\tjbYRTMoOyGpqd0tV7gwPTDEJdV2aAeWGEVqxCc+mACl4HGXhdrjGWPrB3Nl5tNpQdf+6pjS19Ee\r\n\tnNQgydUiwEGlK9+sfMObg8w8TX4QnJ6eSMOvKbyxIg==",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: UDAY SIMHADRI TADAKA <udaysimhadritadaka@gmail.com>",
            "date": "Date: Tue, 26 May 2026 09:00:49 +0530",
            "x-gm-features": "X-Gm-Features: AVHnY4LEUFTDj8P88DlNHk3nZVTCflW0FhvjN_KEVCtpJAOu7kmGCD4QbMZDQPM",
            "message-id": "Message-ID: <CAKB2zFNCK1Fn-av_Xne_-jFcBORXvCGPeUvpS--2dhkj-wtLvQ@mail.gmail.com>",
            "subject": "Subject: ",
            "to": "To: Tadaka Uday simhadri <tadakaudaysimhadri@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000d02a6a0652b01f0d\""
          },
          "html": "<div dir=\"auto\">Dear Support Team,<div dir=\"auto\"><br></div><div dir=\"auto\">I am writing to report a concern regarding the safety of my account credentials. I want to ensure that my account and personal information are secure.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Please check my account and let me know if any suspicious activity has been detected. Kindly guide me on the steps I should take to keep my account safe.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Thank you for your support.</div><div dir=\"auto\"><br></div><div dir=\"auto\">Regards,</div><div dir=\"auto\">Tadaka Uday Simhadri</div><div dir=\"auto\"><br></div></div>\n",
          "text": "Dear Support Team,\n\nI am writing to report a concern regarding the safety of my account\ncredentials. I want to ensure that my account and personal information are\nsecure.\n\nPlease check my account and let me know if any suspicious activity has been\ndetected. Kindly guide me on the steps I should take to keep my account\nsafe.\n\nThank you for your support.\n\nRegards,\nTadaka Uday Simhadri\n",
          "textAsHtml": "<p>Dear Support Team,</p><p>I am writing to report a concern regarding the safety of my account<br/>credentials. I want to ensure that my account and personal information are<br/>secure.</p><p>Please check my account and let me know if any suspicious activity has been<br/>detected. Kindly guide me on the steps I should take to keep my account<br/>safe.</p><p>Thank you for your support.</p><p>Regards,<br/>Tadaka Uday Simhadri</p>",
          "date": "2026-05-26T03:30:49.000Z",
          "to": {
            "value": [
              {
                "address": "tadakaudaysimhadri@gmail.com",
                "name": "Tadaka Uday simhadri"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Tadaka Uday simhadri</span> &lt;<a href=\"mailto:tadakaudaysimhadri@gmail.com\" class=\"mp_address_email\">tadakaudaysimhadri@gmail.com</a>&gt;</span>",
            "text": "\"Tadaka Uday simhadri\" <tadakaudaysimhadri@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "udaysimhadritadaka@gmail.com",
                "name": "UDAY SIMHADRI TADAKA"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">UDAY SIMHADRI TADAKA</span> &lt;<a href=\"mailto:udaysimhadritadaka@gmail.com\" class=\"mp_address_email\">udaysimhadritadaka@gmail.com</a>&gt;</span>",
            "text": "\"UDAY SIMHADRI TADAKA\" <udaysimhadritadaka@gmail.com>"
          },
          "messageId": "<CAKB2zFNCK1Fn-av_Xne_-jFcBORXvCGPeUvpS--2dhkj-wtLvQ@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f556d43-969a-4153-8dba-530a125f5fea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4e22924d6ba4450351f68e5584b4e2ccea6534f2267a1d77f129965ec669adb"
  },
  "id": "BXJo9XAUdQYMGbZ9",
  "tags": []
}