01-rag-pipeline-chatbot/RAG PIPELINE & CHATBOT.json
{
  "name": "RAG_PIPELINE_CHATBOT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "101y_FEaTGPG4MDPvUpvSBmlqtWJiYKF6",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/101y_FEaTGPG4MDPvUpvSBmlqtWJiYKF6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        576
      ],
      "id": "9f5d4ceb-add1-4297-8491-6f0c0fad85bb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZeE2yGPK5KsSdnjo",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        576
      ],
      "id": "0ec19bf3-ad90-4dfd-80b2-8557b3f42971",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZeE2yGPK5KsSdnjo",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dummy",
          "mode": "list",
          "cachedResultName": "dummy"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        16,
        576
      ],
      "id": "e4ae128e-b45f-40d7-9a98-e94a698ce789",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ILid9mp9f2hrZD4y",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        800
      ],
      "id": "3a2af01e-83ed-410d-b40d-dcd61cfe99ff",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WlY6xH5AvayymJ8p",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        576
      ],
      "id": "5b52baab-2df2-42e9-b237-0732ab4ecf0d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        800
      ],
      "id": "87294574-5fda-4c16-aadd-a1e75ec64754",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        -176
      ],
      "id": "a06dd192-fed1-40ab-bea3-f598dee02497",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2",
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -432,
        48
      ],
      "id": "d841bc8c-c587-4a1e-9133-f621bd3f9368",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SrXbUiHCJAjADazF",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access policyb and database",
        "pineconeIndex": {
          "__rl": true,
          "value": "dummy",
          "mode": "list",
          "cachedResultName": "dummy"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -304,
        48
      ],
      "id": "e9f77ceb-629b-4a33-931b-97cf3f39a2ae",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ILid9mp9f2hrZD4y",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        256
      ],
      "id": "cdd48581-d6a2-4ff0-afa4-3b3e54706bd4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WlY6xH5AvayymJ8p",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -592,
        -160
      ],
      "id": "ece684ef-2f65-47f6-bc24-c80fa77249d6",
      "name": "When chat message received",
      "webhookId": "cf1556b2-c60a-427d-ba9c-34915a7d636d"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d77cd816-8ffe-43b8-9a1a-cc629bddd217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4e22924d6ba4450351f68e5584b4e2ccea6534f2267a1d77f129965ec669adb"
  },
  "id": "aQyVCdHiFFWylMjU",
  "tags": []
}
